body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.info-container {
    display: flex;
}

.title {
    font-size: 20px;
    margin: 4px;
}

.subtitle {
    margin: 4px;
}

/* Button class is added, so as to have the same characteristics apply to all 
button items and not have to repeat it constantly*/
.button {
    border-radius: 10px;
    height: 40px;
}
.book {
    background-color: white;
    border: 2px solid grey;
}

.budget{
    background-color: grey;
    color: white;
    border: none;
}

.contacts-container {
    margin-left: 10px;
}

.comments-container {
    display: flex;
    align-items: center;
}

.mark {
    background-color: grey;
    color: black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Class mark p added so that all the p tags within the mark class have 0 margin*/
.mark p {
    margin: 0;
}